<!--@if(assignmentTransmis) {
  <p>ASSIGNMENT TRANSMIS = {{assignmentTransmis.nom}}</p>
}-->
<mat-card *ngIf="assignmentTransmis">
  <mat-card-content>
    <mat-card-title>
      <h3>{{assignmentTransmis.nom}}</h3>
    </mat-card-title>
    <mat-card-subtitle>
      {{assignmentTransmis.dateDeRendu | date: 'dd/MM/YYYY' }}
    </mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
    @if(!assignmentTransmis.rendu)
    {
      <mat-checkbox (click)="OnAssignmentRendu()">
       Rendu
      </mat-checkbox>
    }
  </mat-card-actions>